POSTGRES_URL=postgresql://username:password@host:5432/database
GITHUB_APP_ID= 5092003
GITHUB_CLIENT_ID=Iv23li6MdON6ndy0OcIo
GITHUB_CLIENT_SECRET=a3fdc3a3b42a40b96722c61f9a1fcef43ae31924
GITHUB_APP_PRIVATE_KEY=MIIEpAIBAAKCAQEAv6BYlaTvVYT9d0rivr1O5CbowfD9V1ZMoBUnHzT4qPpqlGQm
T/v7H9SfW2LcVsXrN3Rep8NZoF+4L3CIIcCX9cMxhqcR+/nr9nhAloXGsKUC+lTi
u/9A+xH9J5NMMde6Olxp4U7puET8S5zU/7+7fAm7RoEE6zsFgUF02YNciH/bvA+J
/eDclVKMjtSvRSOdRdYvgSfkeBNR2NbyScFrbZv5jCLG4YW92X/nWx8Rmwh4LqoN
Rh4nlLMuP/xO7ZlO7kJ5bQZkloHb0biynC5MBg0NDV6mQsXk663ey2ToruhLe0uA
RSklI0FKBsd9VVnBn1BEhY4ZD3kpFd6aEXSCBQIDAQABAoIBAAIakQ5nhqciNCQs
osukSWrw0GpcqnNcg6/YO5s4mihEw4nIhbEoG4wwaeV3cuLS/m+X6/gciW3czyla
K2xvcFum3nLTf7uL9V652D+uzU0gKqWz699TgJOhEW3vTI1ZiHZekF0EYEWBIGH2
IVKDeNv2QWOXRAYPGlLedJl0uz3WYKNICVaD3XTvIng2eRhRr3Jk2cqoDPl31yg+
+CsleuJbyPWbBhOalWRaMrFvkm8sgkPZ88mUnYvZ/7p/ltaLEI7sodGm3w5aYkc8
H2Prxwk4Uj7E3zd2mQKklKPQKfu1bKsXe446nzDg7WEfetX4pAxZBYrWwDr4e2xb
CLnWblsCgYEA7oTDnNa7EHVC3gJY+Dq2VgDhq9uIUKNz5RRkMD4iKUjM1pC7MmZC
ZReMm7GngDA9nh9FZTSkpDWxAFFK8LauHd7z2Y70GveOe04r1x20qhkyrElrjynE
3FJ07igjsjiG/R8Sp8H+h5e/n7aVrBPRqNuJsmQd/oLVfMHCYWWdHW8CgYEAzavC
i0nxrqpCD+pB9yi/jVWSbLH0Y8pezVZIRR4SK/asJ6V7+U5f/YRdTv6WZCSKprJG
AhMcP2yw2Zutgyu+26vK5BSek+dgvVYK8eTi9yQNoD57XiOQ9xQesBjq0z0g8xdS
DinMABokLN/9LFvejMKu8vVkVmxdFYamPmjlBcsCgYEAgEeZKQ3317cpOlvK294/
2Gtq89IDM1NlbmwUIjoYh1mnCTMX6thClzoeHlJiwrevPA6XdQHmFobl5kTSaDnn
1RrmzThsIuDHmZuGSpCobN9WeICYP4v4W4JhbwDZie2K9DG1B9J3ARflMJGzV7Pl
C8re+LmNxCc7iHhxAY7z/DMCgYEApiEMRsiWwLhkHkjhucwfVgF+AfCIcKbBhukf
/Tx5/ysECg5AorMtFDF70VgRkJh3qoirxfc7xPt9qnh2YlLOmtAcVblWEjA+UxGS
S6vPrUNhAkQWEId4DCwjUaj+3VwuJk17CVe3oYl8GQdgkBkxHdAP0s5mmuxzD/Uw
iY7fF5sCgYAhAfal73MKSdOUyd9lM4MMOTJJKSSkStP8NSnCbEIWC+9EIQAZ8evI
ombqIBO/t5CQIzIfLlWZs8X8nTXQtVqdoTTZuJM6agyj5VYIRMl8aOvCy9Hi23NP
C8fP+0s0VW/2YGjcpE5DQS9vny9qesZ7sqPD4MbKOMWrnHpUgEOWTA==
GITHUB_WEBHOOK_SECRET=f182973241cebf3500e40124ef8faf8e3901feae
GITHUB_TOKEN=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
QUEUE_MODE=persistent
WORKER_SCHEDULER_INTERVAL_MS=0
GITHUB_REPO=test-app-sandbox

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y3JlYXRpdmUtc2Vhc25haWwtNTAxOC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_189GYs5GPVl5TUV4JDh49WweZbNqVwEIsDVLgK1uKT
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Stripe Billing
STRIPE_SECRET_KEY=sk_test_51UK5QWRgNW85lY4PCYpEDN94YYFVFQ9h3Psw0MTJkWq3S8Ly6JudoDWr6sxbh75N0t33ALa5gSlsoGtsiVQGRqSd003c0NQsVw
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51UK5QWRgNW85lY4PXFyyDpIJcldY1uSMQNWgAvKqHZm1QJiIc7rhkqgXofAB67dDsujCJenEtCewKxqbrSjPbV0C003FEKgjyG
STRIPE_WEBHOOK_SECRET=whsec_3e7479fb14b0fc3378b3db5a1a3d48dfd9bcd2f6fef041dc2df434f69432b5d0
STRIPE_PRICE_ID_PRO=price_placeholder_pro

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_SESSION_SECRET="750c394ef6c88d393031c4c77337eee855fef9a51ef350189c8f83c19547e3e4"